Stopwatch {
    layout: horizontal;
    background: $boost;
    margin: 1;
    padding: 1;
}

Stopwatch TimeDisplay {
    padding: 1;
    content-align: center middle;
    text-opacity: 60%;
}

Stopwatch Button {
    min-width: 15;
}

#start {
    dock: left;
    display: block;
}

.started #start {
    display: none;
}

#stop {
    dock: left;
    display: none;
}

.started #stop {
    display: block;
}

#reset {
    dock: right;
}